﻿<div class="row-fluid" id="feed_dialog">
    <form>
        <div class="input-group">
            <span class="input-group-addon">Site name</span>
            <input type="hidden" name="id" value="">
            <input type="text" class="form-control required" name="sitename">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Remark</span>
            <input type="text" class="form-control" name="remark">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Address</span>
            <input type="text" class="form-control required" name="address">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Method</span>
            <input type="hidden" name="method" value="GET">
            <input type="text" class="form-control" value="GET" disabled="disabled">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Please choose<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" method>
                    <li><a href="javascript:;">GET</a></li>
                    <li><a href="javascript:;">POST</a></li>
                </ul>
            </div>
        </div>
        <div class="input-group hide method-group">
            <span class="input-group-addon">Content Type</span>
            <input type="hidden" name="contentType" value="application/x-www-form-urlencoded">
            <input type="text" class="form-control" value="application/x-www-form-urlencoded" disabled="disabled">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Please choose<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" contentType>
                    <li><a href="javascript:;">application/x-www-form-urlencoded</a></li>
                    <li><a href="javascript:;">application/json</a></li>
                </ul>
            </div>
        </div>
        <div class="input-group hide method-group">
            <span class="input-group-addon">Data</span>
            <textarea type="text" class="required" name="data" placeholder="example:name=zhangsan&age=20"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-addon">UA</span>
            <input type="text" class="form-control" name="ua" value="" placeholder="If empty, read the Ua in the settings." title="If empty, read the Ua in the settings. If the UA in the settings is empty, read the system default.">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Headers</span>
            <textarea type="text" name="headers"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Genre</span>
            <input type="hidden" name="genre" required value="News">
            <input type="text" class="form-control" value="News" disabled="disabled">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Please choose<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="javascript:;">News</a></li>
                    <li><a href="javascript:;">Blog</a></li>
                    <li><a href="javascript:;">BBS</a></li>
                    <li><a href="javascript:;">Weibo</a></li>
                    <li><a href="javascript:;">Wechat</a></li>
                    <li><a href="javascript:;">ImageText</a></li>
                    <li><a href="javascript:;">Video</a></li>
                    <li><a href="javascript:;">Audio</a></li>
                    <li><a href="javascript:;">Other</a></li>
                </ul>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Type</span>
            <input type="hidden" name="type" required value="HTML">
            <input type="text" class="form-control" value="HTML" disabled="disabled">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Please choose<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="javascript:;">AUTO</a></li>
                    <li><a href="javascript:;">HTML</a></li>
                    <li><a href="javascript:;">XML</a></li>
                    <li><a href="javascript:;">JS</a></li>
                    <li><a href="javascript:;">BSON</a></li>
                    <li><a href="javascript:;">JSONP</a></li>
                </ul>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon" style="vertical-align: top;">RuiJi Exp</span>
            <textarea type="text" name="rexp" rows="5"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Delay</span>
            <input type="text" class="form-control required" value="0" name="delay">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Scheduling</span>
            <input type="text" class="form-control required" name="scheduling">
        </div>
        <div class="input-group status">
            <span class="input-group-addon">Status</span>
            <input type="hidden" name="status" value="ON">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-mjdark2 active">
                    ON
                    <input type="radio" autocomplete="off" value="ON">
                </label>
                <label class="btn btn-mjdark2">
                    OFF
                    <input type="radio" autocomplete="off" value="OFF">
                </label>
            </div>
        </div>
        <div class="input-group runjs">
            <span class="input-group-addon">RunJs</span>
            <input type="hidden" name="runJs" value="OFF">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-mjdark2">
                    ON
                    <input type="radio" autocomplete="off" value="ON">
                </label>
                <label class="btn btn-mjdark2 active">
                    OFF
                    <input type="radio" autocomplete="off" value="OFF">
                </label>
            </div>
        </div>
        <div id="feed_test_result"></div>
    </form>
</div>