#header
{
    height:50px;
}

    #header h1 {
        text-indent: 5px;
    }

    #header h1 a {
        text-decoration: none;
        font-family: arial;
    }

#wrapper {
    position: relative;
}

#main_menu_tabs > ul > li > a{
    width:100%;
}

#main_menu_tabs > div {
    box-sizing: border-box;
    padding: 0 5px;
}

#tree {
    width:400px;
}

#tab_panel_feed > ul > li > a {
    padding-right: 20px;
}

.status-instance > div > span:first-child{
    font-weight:bold;
}

.status-instance > div > div {
    text-indent: 16px;
    line-height:25px;
}

#feeds_list {
    padding: 0 20px 20px 20px;
    min-height: 400px;
}