<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nodeSettings" type="RuiJi.Net.Core.Configuration.NodeConfigurationSection,RuiJi.Net.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <!--<nodeSettings>
    <add baseUrl="localhost:36000" type="cp" zkServer="localhost:2181" />
    <add baseUrl="localhost:37000" type="ep" zkServer="localhost:2181" />
    <add baseUrl="localhost:38000" type="fp" zkServer="localhost:2181" />
    <add baseUrl="localhost:36001" type="c" proxy="localhost:36000" zkServer="localhost:2181" />
    <add baseUrl="localhost:36002" type="c" proxy="localhost:36000" zkServer="localhost:2181"/>
    <add baseUrl="localhost:37001" type="e" proxy="localhost:37000" zkServer="localhost:2181" />
    <add baseUrl="localhost:37002" type="e" proxy="localhost:37000" zkServer="localhost:2181"/>
    <add baseUrl="localhost:38001" type="f" proxy="localhost:38000" zkServer="localhost:2181" />
    <add baseUrl="localhost:38002" type="f" proxy="localhost:38000" zkServer="localhost:2181"/>
  </nodeSettings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="zkPath" value="zookeeper-3.4.12" />
    <add key="zkServer" value="localhost:2181" />
    <add key="RuiJiServer" value="localhost:36000" />
    <add key="CookieChannel" value="1" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
