body {
    margin: 0 auto;
    background-color: black;
}

#nav {
    position: static;
    height: 60px;
    line-height: 60px;
    background-color: #1a1c21;
}

    #nav > span {
        float: right;
        color: white;
        margin: 15px 5px;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;
        border: 1px solid #666666;
        box-sizing: border-box;
        font-size: 14px;
    }

        #nav > span:first-child {
            margin-right: 20px;
            height: 20px;
            line-height: 20px;
        }

        #nav > span:first-child a{
            margin-right: 10px;
        }

    #nav a {
        color: white;
        text-decoration: none;
    }

    #nav a:hover{
        text-decoration:underline;
    }

#header {
    background-image: url('bg.png');
    background-size: 100% auto;
    background-repeat-y: no-repeat;
    background-position: center;
    height: 250px;
    color: white;
    text-align: center;
}

    #header > div:first-child {
        padding-top: 30px;
    }

    #header > div:not(:first-child):not(:last-child) {
        line-height: 50px;
        font-size: 18px;
        font-weight: bold;
    }

.features_row {
    color: white;
    margin: 0 auto;
    display: table;
}

    .features_row > div {
        width: 400px;
        display: table-cell;
        text-align: center;
        padding: 20px 0;
    }

    .features_row i {
        font-size: 65px;
    }

    .features_row h3 {
        font-weight: normal;
    }

    .features_row > div.gray {
        color: gray !important;
    }

    .features_row span {
        color: #f6f6f6;
        font-size: 14px;
    }

#documetation {
    background-color: #292b2d;
}

#doc {    
    margin:0 auto;
    display:table;
}

    #doc > div {
        width: 200px;
        height: 190px;
        box-sizing: border-box;
        display:table-cell;
        float:left;
    }

    #doc > div > a {
        display: block;
        height: 150px;
        border: 1px solid #666666;
        margin: 20px;
        line-height: 150px;
        text-align: center;
        color: white;
        text-decoration: none;
    }

            #doc > div > a:hover {
                background-color: #666666;
            }

#contributors {
    background-color: #217360;
    min-height:250px;
}

#con {
    margin: 0 auto;
    display: table;
}

    h3 {
        color: white;
        text-indent: 10px;
        margin:0;
        padding-top:10px;
    }

    #con > div {
        width: 200px;
        height: 190px;
        box-sizing: border-box;
        display: table-cell;
        float: left;
    }

.github-btn {
    overflow: hidden;
    border: 0;
    vertical-align: middle;
    box-sizing: border-box;
    display: inline-block;
}

#download {
    background-color: #254786
}

#down {
    margin: 0 auto;
    display: table;
}

    #down > div {
        width: 200px;
        height: 190px;
        box-sizing: border-box;
        display: table-cell;
        float: left;
    }

        #down > div > a {
            display: block;
            height: 150px;
            border: 1px solid #9999ff;
            margin: 20px;
            line-height: 30px;
            text-align: center;
            color: white;
            text-decoration: none;
        }

            #down > div > a:hover {
                background-color: #9999ff;
            }
        #down > div > a>i {
            margin-top:50px;
            margin-right:10px;
        }