#header {
    height: 60px;
    line-height: 60px;
}

    #header h1 {
        text-indent: 5px;
        display: inline-block;
        height: 60px;
        line-height: 60px;
        margin: 0;
        padding: 0;
    }

        #header h1 a {
            text-decoration: none;
            font-family: arial;
        }

    #header span {
        display: inline-block;
    }

#wrapper {
    position: relative;
}

#main_menu_tabs > ul > li > a {
    width: 100%;
}

#main_menu_tabs > div {
    box-sizing: border-box;
    padding: 0 5px;
}

#tree {
    width: 400px;
}

#tab_panel_feed > ul > li > a, #tab_panel_setting > ul > li > a {
    padding-right: 20px;
}

#tab_panel_status div > span:first-child {
    font-weight: bold;
}

#tab_panel_status span ~ div {
    text-indent: 16px;
    line-height: 25px;
}

#tab_panel_feed > div {
    padding: 10px 20px 20px 20px;
    min-height: 400px;
}

.input-group {
    margin: 10px;
}

    .input-group textarea {
        border: 1px solid #ccc;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        display: block;
        position: relative;
        width: 100%;
        float: left;
    }

#feed_dialog div.input-group, #rule_dialog div.input-group {
    width: 550px;
}

    #feed_dialog div.input-group > span:first-child, #rule_dialog div.input-group > span:first-child {
        width: 105px;
    }

textarea[name='expression'] {
    height: 60px;
}

table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}

#server_info {
    min-height: 240px;
}

#pulse img {
    height: 32px;
    width: 32px;
}

#pulse > div {
    line-height: 50px !important;
    height: 50px !important;
}

    #pulse > div > span {
        margin: 10px;
    }

.setting > span:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}


.setting > div.panel{
    padding:10px;
}

.setting .row span {
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}

.setting .row input {
    margin-top:10px;
}

.setting .ips-set {
    margin-top:5px;
}

.github-btn {
    overflow: hidden;
    border: 0;
    vertical-align: middle;
    box-sizing: border-box;
    display: inline-block;
}