.ui-require-tabs {
    background-color: #f2f2f2;
}

    .ui-require-tabs > div {
        display: none;
        margin: 0px;
    }

        .ui-require-tabs > div.current {
            display: block;
            min-height: 300px;
        }

.ui-require-tabs-nav {
    padding: 0px;
    margin: 0px;
    height: 40px;
}

    .ui-require-tabs-nav li {
        position: relative;
        display: block;
        float: left;
        line-height: 40px;
    }

        .ui-require-tabs-nav li.current {
            background-color: #27517b;
            color: white;
        }

        .ui-require-tabs-nav li a {
            color: black;
            text-decoration: none;
            display: inline-block;
            height: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }

        .ui-require-tabs-nav li.current a {
            color: white;
        }

        .ui-require-tabs-nav li a i {
            padding-right: 10px;
        }

.pull-right {
    float: right !important;
}

.ui-require-tabs-nav li.pull-right {
    width: 41px;
}

    .ui-require-tabs-nav li.pull-right a {
        width: 41px;
        padding: 0;
    }

    .ui-require-tabs-nav li.pull-right.current {
        width: 41px;
        background-color: burlywood;
    }

    .ui-require-tabs-nav li.pull-right img {
        padding: 10px;
    }

.ui-require-tabs.ui-require-tabs-vertical {
    padding-left: 150px;
}

    .ui-require-tabs.ui-require-tabs-vertical > * {
        float: left;
    }

    .ui-require-tabs.ui-require-tabs-vertical > ul {
        width: 150px;
        height: 100%;
        left: 0px;
        bottom: 0px;
        position: absolute;
    }

        .ui-require-tabs.ui-require-tabs-vertical > ul > li {
            float: none;
        }

    .ui-require-tabs.ui-require-tabs-vertical > div {
        position: static;
        width: 100%;
    }